<app-header></app-header>
<div id="banner" class="d-flex w-75 mx-auto">
  <div class="w-50 d-flex align-items-center">
    <div class="">
      <img src="./assets/images/card_img.png " class="img img-fluid" />
    </div>
    <div class="pl-4">
      <div class="orange">
        <h4 class="orange">WE'RE BUILDING BETTER MODELS</h4>
        <h6>FASTER. EASIER. TOGETHER</h6>
        <!-- <a target="_blank" right="30px">More Info Coming Soon</a> -->
      </div>

    </div>
  </div>
  <div class="w-50 d-flex justify-content-around align-items-center">
    <app-quicklinks></app-quicklinks>
  </div>
</div>

<!-- APPLICATION LIST -->
<div class="applications">
  <h4 class="text-center">
    Access Your Applications. Easier, Quicker &amp; Smarter
  </h4>
  <!-- <div class="application-wrapper w-75 mx-auto mt-5 text-center">
    <div class="item py-2 d-flex align-items-center flex-column justify-content-around" (click)="goToUrl()"
      *ngFor="let resultObj of this.userappandurl; let i = index">
      <img src="../../../assets/images/ETracker.svg" width="70px" class="img img-fluid" />
      <p>{{ resultObj.ApplicationName }}</p>
    </div>
  </div> -->

  <div class="application-wrapper w-75 mx-auto mt-5 text-center">
    <div class="item py-2 d-flex align-items-center flex-column justify-content-around"
      (click)="goToUrl(resultObj.ApplicationUrl, resultObj.ApplicationID, this.userlogindet, resultObj.ApplicationImage)"
      *ngFor="let resultObj of this.userappandurl; let i = index">
      <div class="text-center" >
          <form action="{{resultObj.ApplicationUrl}}" target="_blank" method="post">
            <input hidden value={{this.userName}} type="text" name="uid" id="uid">
            <input hidden value={{this.passWord}} type="text" name="upass" id="upass">
            <input hidden value={{this.ucode}} type="text" name="ucode" id="ucode">
            <!-- <a href="{{ resultObj.ApplicationUrl }}" target="_blank" class="link-2"></a> -->
            <button class="apps-btn" type="submit"> <img src="{{resultObj.ApplicationImage}}" ng-show="Base64 != null" height="60" width="79.5"
              class="image-6" /></button>
          </form>
          <!-- <div class="user-image justify-content-between objectfit: fill mr-2">
            <a class="custom mr-0 mr-md-2  font" ><img src="{{'data:image/png;base64,'+this.picture}}"
                ng-show="Base64 != null" height="100" width="20" class=" pt-3 image-3" /></a>
          </div> -->
          <p>{{ resultObj.ApplicationName }}</p>
      </div>
    </div>
  </div>
</div>
