/* #banner {
  height: 50vh;
} */

.sliderimg1{
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-image {
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-wrapper {
  font-size: 0.9rem;
}

.user-wrapper p {
  font-size: 0.6rem;
  line-height: 1px;
}

.quicklinks{
  margin-right: 10px;
}

.heading-4{
  color: #dd4f05;
  font-size: 20ex;
}

.imgsize{
  size: 10px;
}

/* .application-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
} */

.application-wrapper .item {
    padding: 1rem 1rem;
  cursor: pointer;


}

.orange{
  color: #dd4f05;
}

.apps-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
}

.shadow {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.application-wrapper img:hover {
  width: 50px;
}

.qlinks {
    height: 300px;
}

#banner img {
    max-width: 100%;
    width: 100% \9;
    /* height: auto; */
}
