<app-header></app-header>
<div id="banner" class="d-flex w-100">
  <div class="w-50">
    <h5>WE'RE BUILDING BETTER MODELS</h5>
    <h6>FASTER. EASIER. TOGETHER</h6>
    <a target="_blank" right="30px">More Info Coming Soon</a>
  </div>
  <div class="quicklinks w-50 d-flex justify-content-center">
    <app-quicklinks></app-quicklinks>
  </div>
</div>
<div class="applications">
  <h4 class="text-center">Access Your Applications. Easier, Quicker &amp; Smarter</h4>
  <div
  class=" col-md-2 mb-3"
  *ngFor="let resultObj of this.userappandurl; let i = index"
>
  <div class="text-center">
    <a
      href="{{ resultObj.ApplicationName }}"
      target="_blank"
      class="w-inline-block"
    >
      <img
        src="../../../assets/images/ETracker.svg"
        height="60"
        width="79.5"
        class="image-6"
      />{{ resultObj.ApplicationName }}
    </a>
    <a
      href="{{ resultObj.ApplicationUrl }}"
      target="_blank"
      class="link-2"
    ></a>
  </div>
</div>
</div>
