/* #banner {
  height: 50vh;
} */

.sliderimg1{
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-image {
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-wrapper {
  font-size: 0.9rem;
}

.user-wrapper p {
  font-size: 0.6rem;
  line-height: 1px;
}

.quicklinks{
  margin-right: 10px;
}

.heading-4{
  color: #dd4f05;
  font-size: 20ex;
}

.imgsize{
  size: 10px;
}

.application-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.application-wrapper .item {
  cursor: pointer;

}

/* .application-wrapper .item:hover {
  -webkit-box-shadow: 3px 4px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: 3px 4px 15px -4px rgba(0,0,0,0.68);
  box-shadow: 3px 4px 15px -4px rgba(0,0,0,0.68);
} */
.application-wrapper img:hover {
  width: 50px;
}
