.navbar-brand .custom {
  padding-top: 0.2rem !important;
    padding-bottom: 0.1rem  !important;
}
.form-control {
  border-radius: 1.25rem !important;
}

.btn{
  background-color: #fff !important;
}

.user-image {
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-wrapper {
  font-size: 0.6rem;
}

.user-wrapper p {
  font-size: 0.6rem;
  line-height: 12px;
}
