

<div class="navbar navbar-expand-md navbar-dark flex-top bg-default">
  <!-- "{{ picture }}" -->
    <a  class="custom mr-0 mr-md-2  font" href="/" ><img src="{{'data:image/png;base64,'+this.picture}}" ng-show="Base64 != null" height="100" width="50" class=" pt-2  image-3"/></a>
    <h6 >Welcome {{ this.fullName }}. You are logged in from <strong>{{ this.branchname }}</strong>. Your last login was on {{ this.lastlogindate }}</h6>




  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

      <li class="nav-item pr-4">
          <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Search.." >
              <div class="input-group-append">
               <button class="btn form-control" type="button" id="button-addon2">
                 <img class="p-1" src="../../../src/assets/images/search2x2x.png" height="25" alt="">
                </button>
              </div>
            </div>

        </li>

    <!-- <li class=" pr-3 dropdown">
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
        <a class="dropdown-item active" href="/docs/4.1/">Latest (4.1.x)</a>
        <a class="dropdown-item" href="https://getbootstrap.com/docs/4.0/">v4.0.0</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="https://v4-alpha.getbootstrap.com/">v4 Alpha 6</a>
        <a class="dropdown-item" href="https://getbootstrap.com/docs/3.3/">v3.3.7</a>
        <a class="dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a>
      </div>
    </li> -->

    <li class=" pr-4">
      <a class="nav-link p-2 "   href="https://github.com/twbs/bootstrap" target="_blank" rel="noopener" aria-label="GitHub">
        <i class="fa fa-bell-o fa-2x text-dark" aria-hidden="true" ></i>
      </a>
    </li>
    <li class=" pr-4">
      <a class="nav-link p-2"  href="https://twitter.com/getbootstrap" target="_blank" rel="noopener" aria-label="Twitter">
        <i class="fa fa-question-circle fa-2x text-dark" aria-hidden="true" ></i>
      </a>
    </li>

  </ul>

  <a class="mh-25" href="/docs/4.1/getting-started/download/">
    <img  height='50'  src="../../../../assets/images/GTBANK.png"  class="gtbank_logo">
  </a>
</div>
