.navbar-brand .custom {
  padding-top: 0.2rem !important;
    padding-bottom: 0.1rem  !important;

}
.form-control {
  border-radius: 1.25rem !important;
}

.btn{
  background-color: #fff !important;
}

.user-image {
  border-radius: 49.9%;
  width: 60px;
  height: 60px;
  border: #dd4f05 solid 1px;
}

.user-wrapper {
  font-size: 0.8rem;
}

.user-wrapper p {
  font-size: 0.6rem;
  line-height: 12px;

}

.objectfit{
  object-fit: fill;
}

.gtbank_logo{
  height: 40px;
  width: 40px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.application-wrapper .item {
  cursor: pointer;

}
.avatar {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem; }
  .avatar.avatar-xs {
    width: 2.25rem;
    height: 2.25rem; }
  .avatar.avatar-sm {
    width: 3rem;
    height: 3rem; }
  .avatar.avatar-lg {
    width: 7.5rem;
    height: 7.5rem; }
  .avatar.avatar-xlg {
    width: 12rem;
    height: 12rem; }
  .avatar.avatar-square {
    border-radius: 0.125rem; }

    .spinner-border {
      color: #dd4f05 !important;
    }




