:host {
  /* width: 80%; */
  margin: 2rem 5rem;
}

.quicklinks-wrapper {
  /* background: #faf2f2; */
  padding: 2rem;
  flex: initial;
  cursor: pointer;
}

img {
  height: auto;
  width: 20%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.item {
  transition: all ease-in-out 600ms;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 0.3rem;
  border-radius: 1rem;
  cursor: pointer;
}

.item:hover {
  background: aqua;
  cursor: pointer;
}

p {
  line-height: 14px;
}

