<!-- <HTML>
	<HEAD>
	    <style type="text/css">

            .style1
            {
                width: 107%;
                height: 100px;
            }
            .style2
            {
                width: 527px;
            }
            .style3
            {
                width: 14px;
            }
        </style>
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<DIV style="Z-INDEX: 103; POSITION: absolute; WIDTH: 744px; HEIGHT: 24px; TOP: 16px; LEFT: 8px"></DIV>
			<INPUT style="Z-INDEX: 106; POSITION: absolute; WIDTH: 72px; HEIGHT: 13px; TOP: 456px; LEFT: 64px"
				id="hid_code" size="6" type="hidden" name="hid_code" runat="server"><INPUT style="Z-INDEX: 105; POSITION: absolute; WIDTH: 72px; HEIGHT: 13px; TOP: 416px; LEFT: 40px"
				id="hid_pass" size="6" type="hidden" name="hid_pass" runat="server"><INPUT style="Z-INDEX: 104; POSITION: absolute; WIDTH: 72px; HEIGHT: 13px; TOP: 392px; LEFT: 32px"
				id="hid_id" size="6" type="hidden" name="hid_id" runat="server">
			<asp:label style="Z-INDEX: 102; POSITION: absolute; TOP: 104px; LEFT: 368px" id="Label2" runat="server"
				Font-Size="X-Large" Font-Bold="True" Width="272px" Visible="False">Token Validation</asp:label>
			<DIV style="border: medium groove sandybrown; Z-INDEX: 101; POSITION: absolute; WIDTH: 777px; HEIGHT: 370px; TOP: 179px; LEFT: 251px">
                <asp:button style="Z-INDEX: 108; POSITION: absolute; TOP: 107px; LEFT: 184px" id="btn_continue"
					runat="server" Width="96px" Text="Continue"></asp:button>
                <asp:textbox style="Z-INDEX: 108; POSITION: absolute; TOP: 50px; LEFT: 240px; width: 292px;" id="txt_tokenID"
					runat="server" Font-Bold="True"></asp:textbox>
                <asp:label style="Z-INDEX: 108; POSITION: absolute; TOP: 51px; LEFT: 24px"
                    id="Label1" runat="server"
					Font-Bold="True" Width="193px">Enter OTP from Your Token</asp:label>
                <asp:Panel ID="panel_affirm" runat="server"

                    style="border: medium groove sandybrown; Z-INDEX: 101; POSITION: absolute; WIDTH: 677px; HEIGHT: 192px; TOP: 142px; LEFT: 14px">
                    <table class="style1" ID="Panel_affirm">
                        <tr>
                            <td colspan="2">
                                <em><strong>You are required to ensure that no hardware key logger (or any other
                                suspicious) device is attached to your system before you enter your token and
                                continue;<br />
                                <br />
                                Kindly affirm that you have completed the following: </strong></em>
                            </td>
                        </tr>
                        <tr>
                            <td class="style2">
                                <asp:CheckBox ID="chk1" runat="server" Text="The check has been conducted" />
                            </td>
                            <td class="style3">
                                </td>
                        </tr>
                        <tr>
                            <td class="style2">
                                <asp:CheckBox ID="chk2" runat="server"
                                    Text="No suspicious attachments were found" />
                            </td>
                            <td class="style3">
                                </td>
                        </tr>
                    </table>
                </asp:Panel>
		    </DIV>
			<asp:literal id="lit_message" runat="server"></asp:literal>
			<asp:Label style="Z-INDEX: 107; POSITION: absolute; TOP: 158px; LEFT: 248px"
                id="Label3" runat="server"
				Width="96px">Your User ID:</asp:Label>
			<asp:Label style="Z-INDEX: 108; POSITION: absolute; TOP: 160px; LEFT: 360px" id="lbl_userid"
				runat="server" Width="256px"></asp:Label>
            <asp:Label style="Z-INDEX: 108; POSITION: absolute; TOP: 191px; LEFT: 278px; right: 326px; width: 703px;"
                ID="lbl_tokenid" runat="server"></asp:Label>
        </form>
	</body>
</HTML>
 -->
