  <!-- <span *ngIf="!loading">CONTINUE</span> -->
  <div class="py-2 px-4">

    <form [formGroup]="_tokenForm" #tokenForm="ngForm" (submit)="onSubmit(_tokenForm)">
      <div class="form-group">
        <label for="token">Password Validation</label>
        <input type="password" class="form-control" formControlName="tokenValue" placeholder="Enter Password For Re-validation">
      </div>

      <div class="form-group d-flex justify-content-center">
        <button type="submit" class="btn btn-md btn-success mt-3">Submit</button>
      </div>
      <!-- <input hidden value={{userName}} type="text" name="uid" id="uid">
      <input hidden value={{passWord}} type="text" name="upass" id="upass">
      <input hidden value={{ucode}} type="text" name="ucode" id="ucode"> -->
      <!-- <a href="{{ resultObj.ApplicationUrl }}" target="_blank" class="link-2"></a> -->
      <!-- <button class="apps-btn" type="button"> <img src="{{'data:image/png;base64,' + resultObj.ApplicationImage}}" ng-show="Base64 != null" height="60" width="79.5" -->
        <!-- class="image-6" /></button> -->
    </form>
    <div id='form-section'></div>
    <!-- <div class="user-image justify-content-between objectfit: fill mr-2">
      <a class="custom mr-0 mr-md-2  font" ><img src="{{'data:image/png;base64,'+this.picture}}"
          ng-show="Base64 != null" height="100" width="20" class=" pt-3 image-3" /></a>
    </div> -->
    <!-- <p>{{ resultObj.ApplicationName }}</p> -->
</div>
