<div class="Col-md-6 card-block"
                    style="float: none; margin: 0px 20px; text-align: center;border-bottom: 1px solid #D6D6D6;">
                    <h2 class="kd">Kill <span>My ID</span></h2>
                  </div>
<form (ngSubmit)="submitRequest()" autocomplete="off" [formGroup]="myForm2" id="wf-form-Email-Form" name="wf-form-Email-Form"
data-name="Email Form" method="post" class="form">
<label for="UserName" class="field-label"></label>
<input type="text" class="text-field w-input" maxlength="256" formControlName="UserName" autofocus="true"
  name="UserName" data-name="User ID" placeholder="Enter your Username" id="Pass1">
<!-- <label for="Password2" class="field-label-2">Re-enter Password:</label>
<input type="password" class="text-field w-input" maxlength="256" formControlName="Password2" name="Password2"
  data-name="Password2" placeholder="Re-enter your New Password" id="Pass2" required=""> -->
<button type="submit" class="submit-button w-button">
  <span *ngIf="loading">
    <div class="spinner-border spinner-border-sm" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    Processing..
  </span>
  <span *ngIf="!loading">CONTINUE</span>
</button>
<div>
  <button type="button" class="submit-button w-button" (click)="Back()">
    Back
    </button>
</div>
</form>
