/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700|Roboto:400,700,900&display=swap');
  @import "~bootstrap/dist/css/bootstrap.css";
  @import "~bootswatch/dist/simplex/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


@import "./assets/css/normalize.css";
@import './assets/css/single-sign-on-b7d87c.webflow.css';
@import './assets/css/web-flow.css';

body {
  font-family: 'Poppins', sans-serif;
}

/* * {
  transition: all ease-in 450ms;
} */

.cursorclick{
    cursor: pointer;
}

.rounded {
  border-radius: 2rem;
}

.brand-bg {
  background-color: #de4a0a !important;
}

.brand {
  color: #de4a0a !important;
}



html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif; }
